@import url("https://fonts.googleapis.com/css?family=Righteous");

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.Main-Title {
  font-family: "Righteous", cursive;
  font-size: 40px;
}
.App-header {
  background-image: url("../src/images/background.png");
  /* background-color: #233160;  */
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Roboto", sans-serif;
}

.App-link {
  color: #61dafb;
}

.world-map {
  padding: 30px;
  padding-top: 50px;
  min-height: 600px;
  background-color: #f2f5fa;
}

.bar-chart {
  align-content: center;
  padding: 30px;
  padding-top: 50px;
  min-height: 600px;
  background-color: #f2f5fa;
}
.doughnut-chart {
  min-height: 600px;
  padding: 30px;
  padding-top: 50px;
  background-color: #f2f5fa;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
}

.Main-subtitle {
  position: absolute;
  border-top-right-radius: 100px;
  color: white;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 30px;
  opacity: 0.8;
}
h3 {
  font-size: 10px;
}

